{% extends 'base.html' %}
{% block content %}
<h2>Base Normativa</h2>
<p>O ReabilitaSUS foi pensado em alinhamento com as diretrizes do SUS e a promoção da reabilitação inclusiva.</p>
<section>
    <h3>Portaria nº 793/2012</h3>
    <p>Define a Rede de Cuidados à Pessoa com Deficiência (RCPD) e incentiva sua implantação no SUS.</p>
</section>
<section>
    <h3>Portaria nº 1.526/2023</h3>
    <p>Atualiza parâmetros para a organização de serviços de reabilitação e reforça a integração entre atenção primária e especializada.</p>
</section>
{% endblock %}
